<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.AccountDao">

  <resultMap type="Account" id="AccountMap">
    <id column="account_no"   property="accountNo"/>
    <result column="group_no"    property="groupNo"/>
    <result column="bank_info_id"  property="bankInfoId"/>
    <result column="account_type_no" property="accountTypeNo"/>
    <result column="account_type_name" property="accountTypeName"/>
    <result column="assets" property="assets"/>
    <result column="amount" property="amount"/>
    <result column="payment_date" property="paymentDate"/>
    <result column="remarks" property="remarks"/>
    <result column="receipt_photo" property="receiptPhoto"/>
    
  </resultMap>
  
   <sql id="select1">
    select 
      account_no, 
      group_no, 
      bank_info_id, 
      account_type_no, 
      account_type_name, 
      assets, 
      amount, 
      payment_date, 
      account_connection, 
      remarks, 
      receipt_photo
    from 
      nm_account
  </sql>
  
  
  <select id="findAll" resultMap="AccountMap">
   <include refid="select1"/>
   order by
    account_no desc
  </select>
  
  
   <insert id="insert" parameterType="Account">
    insert into nm_account(
      group_no, 
      bank_info_id, 
      account_type_no, 
      account_type_name, 
      assets, 
      amount, 
      payment_date, 
      account_connection, 
      remarks, 
      receipt_photo) 
    values(
      #{groupNo}, 
      #{bankInfoId}, 
      #{accountTypeNo}, 
      #{accountTypeName}, 
      #{assets}, 
      #{amount}, 
      #{paymentDate}, 
      #{accountConnection}, 
      #{remarks}, 
      #{receiptPhoto})
  </insert>
  
 
  
  <select id="findByNo" resultMap="AccountMap" parameterType="int">
    <include refid="select1"/>
    where 
      account_no=#{accountNo}
  </select>
  
  <update id="update" parameterType="Account">
    update nm_account set
      bank_info_no=#{bankInfoNo},
      account_type_no=#{accountTypeNo},
      account_type_name=#{accountTypeName},
      assets=#{assets},
      amount=#{amount},
      payment_date=#{paymentDate},
      account_connection=#{accountConnection},
      remarks=#{remarks},
      receipt_photo=#{receiptPhoto} 
    where 
      account_no=#{accountNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from nm_account
    where account_no=#{accountNo}
  </delete>
  
  <select id="findByKeyword" 
    resultMap="AccountMap" 
    parameterType="string">
    <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
  <include refid="select1"/>
    where     
      account_type_name like #{keywordPattern} 
      or account_connection like #{keywordPattern}
      or remarks like #{keywordPattern} 
  </select>
  
</mapper>