<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nmnm.gms.dao.CoLikeDao">

	<resultMap type="CoLike" id="CoLikeMap">
		<id column="like_count" property="likeCount" />
		<result column="co_no" property="coNo" />
		<result column="member_no" property="memberNo" />
		<result column="like_check" property="likeCheck" />
	</resultMap>


  <!-- 동일 게시글 추천 여부 검색 -->
  <select id="rec_check" parameterType="map" resultType="int">
    select count(*) from nm_co_like where co_no = #{coNo} and member_no = #{coNo}
  </select>
  
  <!-- 게시글 추천 -->
  <insert id="rec_update" parameterType="map">
    insert into nm_co_like values(#{coNo}, #{coNo})
  </insert>
  
  <!-- 게시글 추천 취소 -->
  <delete id="rec_delete" parameterType="map">
    delete from nm_co_like where co_no = #{coNo} and member_no = #{coNo}
  </delete>
  
  <!-- 게시글 추천수 -->
  <select id="rec_count" parameterType="int" resultType="int">
    select count(*) from nm_co_like where co_no = #{coNo} 
  </select>
  
</mapper>