<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.FeedDao">

  <resultMap type="Feed" id="FeedMap">
    <id column="feed_no"   property="feedNo"/>
    <result column="member_no" property="memberNo"/>
    <result column="group_no"    property="groupNo"/>
    <result column="title"  property="title"/>
    <result column="content"  property="content"/>
    <result column="create_date"    property="createDate"/>
    <result column="view_count"    property="viewCount"/>
    <result column="thumbnail"    property="thumbnail"/>
  </resultMap>
  
  <insert id="insert" parameterType="Feed">
    insert into nm_feed(
      title, 
      content,
      thumbnail)
    values(
      #{title}, 
      #{content}
      #{thumbnail})
  </insert>
  
  <select id="findAll" resultMap="FeedMap">
    select
      feed_no,
      title,
      create_date,
      content,
      member_no,
      group_no,
      view_count,
      thumbnail
    from 
      nm_feed
  </select>

  
  <select id="findByNo" resultMap="FeedMap" parameterType="int">
    select
      feed_no,
      title,
      create_date,
      content,
      member_no,
      group_no,
      view_count,
      thumbnail
    from 
      nm_feed
    where
      feed_no=#{feedNo}
  </select>
  
  <update id="update" parameterType="Feed">
    update nm_feed
    <set>
      <if test="title != null and title != ''">title=#{title},</if>
      <if test="content != null and content != ''">content=#{content},</if>
      <if test="title != null and title != ''">title=#{title},</if>
      <if test="thumbnail != null and thumbnail != ''">thumbnail=#{thumbnail}</if>
    </set>
    where feed_no=#{feedNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from nm_feed
    where feed_no=#{feedNo}
  </delete>
  
  <select id="findByKeyword" resultMap="FeedMap" parameterType="string">
  <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
    select
      feed_no,
      title,
      create_date,
      member_no,
      group_no
    from 
      nm_feed
    where
      feed_no like #{feedNo}
      or title like #{title}
      or create_date like #{createDate}
      or member_no like #{memberNo}
      or group_no like #{groupNo}
  </select>
</mapper>