<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.FeedDao">

  <resultMap type="Feed" id="FeedMap">
    <id column="feed_no"   property="feedNo"/>
    <result column="member_no" property="memberNo"/>
    <result column="group_no"    property="groupNo"/>
    <result column="title"  property="title"/>
    <result column="content"  property="content"/>
    <result column="create_date"    property="creatDate"/>
  </resultMap>
  
  <insert id="insert" parameterType="Feed">
    insert into nm_feed(
      title, 
      content)
    values(
      #{title}, 
      #{content})
  </insert>
  
  <sql id="select1">
    select
      feed_no,
      title,
      create_date,
      content,
      member_no,
      group_no
    from 
      nm_feed
  </sql>
  
  <select id="findAll" resultMap="FeedMap">
    select
      feed_no,
      title,
      create_date,
      content,
      member_no,
      group_no
    from 
      nm_feed
  </select>

  
  <select id="findByNo" resultMap="FeedMap" parameterType="int">
    <include refid="select1"/>,
    select
      feed_no,
      title,
      create_date,
      content,
      member_no,
      group_no
    from 
      nm_feed
    where
      feed_no=#{feedNo}
  </select>
  
  <update id="update" parameterType="Feed">
    update nm_feed
    <set>
      <if test="title != null and title != ''">title=#{title},</if>
      <if test="content != null and content != ''">content=#{content},</if>
    </set>
    where feed_no=#{feedNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from nm_feed
    where feed_no=#{feedNo}
  </delete>
  
  <select id="findByKeyword" resultMap="FeedMap" parameterType="map">
    <include refid="select1"/>
    from nm_feed
    <where>
      <if test="title != null">titl like concat('%', #{title}, '%')</if>
      <if test="memberNo != null">and sdt >= #{startDate}</if>
      <if test="endDate != null">and edt &lt;= #{endDate}</if>
      <if test="totalHours != null">and tot_hr &lt;= #{totalHours}</if>
      <if test="dayHours != null">and day_hr &lt;= #{dayHours}</if>
    </where>
  </select>
</mapper>