<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.FeedDao">

  <resultMap type="Feed" id="FeedMap">
    <id column="feed_no"   property="feedNo"/>
    <result column="group_no"    property="groupNo"/>
    <result column="member_no" property="memberNo"/>
    <result column="title"  property="title"/>
    <result column="content"  property="content"/>
    <result column="create_date"    property="createDate"/>
    <result column="view_count"    property="viewCount"/>

    <collection property="feedPhotos" ofType="FeedPhoto">
    <id column="feed_photo_no"   property="no"/>
    <result column="feed_photo_file"    property="filepath"/>
    </collection>
        
  </resultMap>
  
  
  <sql id="select1">
    select
      feed_no,
      member_no,
      group_no,
      title,
      content,
      create_date,
      view_count
    from 
      nm_feed 
  </sql>
  
  
  <insert id="insert" parameterType="Feed"
   useGeneratedKeys="true" keyColumn="feed_no" keyProperty="feedNo">
    insert into nm_feed(
      group_no,
      member_no, 
      title, 
      content
      )
    values(
      #{groupNo},
      #{memberNo},
      #{title}, 
      #{content}
      )
  </insert>
  
  <select id="findAll" resultMap="FeedMap" parameterType="Map">
    select
      f.feed_no,
      f.member_no, 
      f.title,
      f.create_date,
      f.view_count,
      p.feed_photo_no,
      p.feed_photo_file
    from 
      nm_feed f
      
    inner join nm_feed_photo p on f.feed_no= p.feed_no

    order by
      f.feed_no desc
   
  </select>

  
  <select id="findByNo" resultMap="FeedMap" parameterType="int">
    select
      f.feed_no,
      f.member_no,
      f.group_no,
      f.title,
      f.content,
      f.create_date,
      f.view_count,
      p.feed_photo_no,
      p.feed_photo_file
    from 
      nm_feed f
    
    inner join nm_feed_photo p on f.feed_no= p.feed_no
      
    where
      f.feed_no=#{feedNo}
  </select>
  
  <update id="update" parameterType="Feed">
    update nm_feed set
      group_no=#{groupNo},
      member_no=#{memberNo},
      title=#{title},
      content=#{content}
    where 
      feed_no=#{feedNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from nm_feed
    where feed_no=#{feedNo}
  </delete>
  
  <select id="findByKeyword" resultMap="FeedMap" parameterType="string">
  <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
    select
      feed_no,
      member_no, 
      title,
      create_date,
      view_count  
    from 
      nm_feed f
      
    inner join feed_photo t on f.feed_no= t.feed_no

    where
      title like #{title}
      or content like #{content}
  </select>
  
  
   <!-- 동일 게시글 추천 여부 검색 -->
   <select id="rec_check" parameterType="map" resultType="int">
    select count(*) from nm_feed_like where feed_no = #{feedNo} and rec_id = #{id}
  </select>
  
  <!-- 게시글 추천 -->
  <insert id="rec_update" parameterType="map">
    insert into ex_rec values(#{no}, #{id})
  </insert>
  
  <!-- 게시글 추천 취소 -->
  <delete id="rec_delete" parameterType="map">
    delete from ex_rec where board_no = #{no} and rec_id = #{id}
  </delete>
  
  <!-- 게시글 추천수 -->
  <select id="rec_count" parameterType="int" resultType="int">
    select count(*) from ex_rec where board_no = #{no}
  </select>
  
</mapper>