<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.GroupDao">

  <resultMap type="Group" id="GroupMap">
    <id column="group_no"  property="groupNo"/>
    <result column="group_name" property="groupName"/>
    <result column="group_info" property="groupInfo"/> 
    <result column="group_form" property="groupForm"/> 
    <result column="group_interest" property="groupInterest"/> 
    <result column="group_photo" property="groupPhoto"/>
    <result column="city" property="city"/>
    <result column="max_people_no" property="maxPeopleNo"/>
    <result column="create_date" property="createDate"/>
    
  </resultMap>
  
  <insert id="insert" parameterType="Group"
  useGeneratedKeys="true" keyColumn="group_no" keyProperty="groupNo">
    insert into nm_group(
      group_name,
      group_info,
      group_form,
      group_interest,
      group_photo,
      city
    ) values(
      #{groupName},
      #{groupInfo},
      #{groupForm},
      #{groupInterest},
      #{groupPhoto},
      #{city})
  </insert> 
  

  
  <select id="findAll" resultMap="GroupMap">
    select
      group_no,
      group_name,
      group_form,
      city
    from 
      nm_group
  </select>
  
  <!-- 관리자 게시판 용 모든 그룹 회원 조회 -->
  <select id="grlist" resultMap="GroupMap"> 
    select
     gm.group_no,
     gm.member_no,
     gm.grade_no,
     g.group_no,
     g.group_name,
     m.member_no,
     m.member_name
    from nm_group_member gm, nm_group g, nm_member m
    where gm.group_no = g.group_no and gm.member_no = m.member_no
  </select>
    
    <!--  모임홈에서 쓸 detail  -->
  <select id="findByNo" resultMap="GroupMap" parameterType="int">
    select 
    group_photo,
    group_no,
    group_name,
    group_form,
    group_info,
    group_interest,
    city,
    create_date
    from 
      nm_group
    where 
      group_no=#{groupNo}
  </select>
  
  <update id="update" parameterType="Group">
    update nm_group
    <set>
      <if test="groupName != null and groupName != ''">group_name=#{groupName},</if>
      <if test="groupForm != null and groupForm != ''">group_form=#{groupForm},</if>
      <if test="groupInfo != null and groupInfo != ''">group_info=#{groupInfo},</if>
      <if test="groupPhoto != null and groupPhoto != ''">group_photo=#{groupPhoto},</if> 
      <if test="groupInterest != null and groupInterest != ''">group_interest=#{groupInterest},</if> 
      <if test="maxPeopleNo >= 0">max_people_no=#{maxPeopleNo},</if> 
      <if test="city != null and city != ''">city=#{city}</if>
    </set>
    where 
      group_no=#{groupNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from nm_group
    where group_no=#{groupNo}
  </delete>
  
  <select id="findByKeyword" resultMap="GroupMap"
    parameterType="string">
        <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
        select
      group_no,
      group_name,
      group_form,
      group_interest,
      
      city
        from nm_group
        where
            group_no like #{keywordPattern}
            or group_name like #{keywordPattern}
            or group_form like #{keywordPattern}
            or city  like #{keywordPattern}
    </select>
  
  <!-- 멤버가 가입한모임 리스트 파라미터 타입 인트? 빈칸?  parameterType="int" -->
  <select id="listByJoin" resultMap="GroupMap" parameterType="int">
		SELECT
		  g.group_no, 
		  g.group_name, 
		  g.group_info,
		  g.group_form,
		  g.group_interest,
		  g.group_photo,
		  gm.member_no
		FROM
		  (nm_member AS m LEFT JOIN nm_group_member AS gm 
		  ON m.member_no=gm.member_no)
		  LEFT JOIN nm_group AS g ON g.group_no=gm.group_no
		WHERE
		  gm.member_no=${memberNo}
  </select>
  
  
  <!-- 추천모임 리스트 -->
  <select id="listByRec" resultMap="GroupMap" parameterType="string">
    SELECT
      g.group_no, 
      g.group_name, 
      g.group_info,
      g.group_form,
      g.group_interest,
      g.group_photo
    FROM
      nm_group AS g
    LEFT JOIN nm_member AS m ON g.group_interest=m.interest
    WHERE
      g.group_interest='${interest}'
  <!-- 
  스트링 비교시 '' 따옴표 꼭 넣어야함
		SELECT g.group_no, g.group_name, g.group_photo, g.group_interest
		 FROM nm_group g
		WHERE g.group_interest=${interest}
		 IN 
		(SELECT m.interest FROM nm_member m)
  -->
  </select>
  
  <!-- 신규모임 리스트 -->
  <select id="listByCd" resultMap="GroupMap">
    select
      group_photo,
      group_no,
      group_name,
      group_form,
      city,
      group_interest
    from 
      nm_group
    order by
      create_date desc
  </select>
  

</mapper>