<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.GroupDao">

  <resultMap type="Group" id="GroupMap">
    <id column="group_no"  property="groupNo"/>
    <result column="group_name" property="name"/>
    <result column="group_info" property="info"/> 
    <result column="category" property="category"/> 
    <result column="group_photo" property="photo"/>
    <result column="city" property="city"/>
    <result column="max_people_no" property="maxPeopleNo"/>
    <result column="create_date" property="createDate"/>
  </resultMap>
  
  <insert id="insert" parameterType="Group">
    insert into nm_group(
    group_name,
    group_info,
    category,
    group_photo,
    city
    ) values(
      #{name},
      #{info},
      #{category},
      #{photo},
      #{city})
  </insert>
  
  <select id="findAll" resultMap="GroupMap">
    select
      group_no,
      group_name,
      group_info,
      city
    from 
      nm_group
  </select>

  
  <select id="findByNo" resultMap="GroupMap" parameterType="int">
    select 
    group_no,
    group_name,
    group_info,
    group_photo,
    city,
    create_date
    from 
      nm_group
    where 
      group_no=#{groupNo}
  </select>
  
  <update id="update" parameterType="Group">
    update nm_group
    <set>
      <if test="name != null and name != ''">group_name=#{name},</if>
      <if test="info != null and info != ''">group_info=#{info},</if>
      <if test="photo != null and photo != ''">group_photo=#{photo},</if> 
      <if test="city != null and city != ''">city=#{city}</if>
    </set>
    where 
      group_no=#{groupNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from nm_group
    where group_no=#{groupNo}
  </delete>
  
  <select id="findByKeyword" resultMap="GroupMap"
    parameterType="string">
        <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
        select
       group_no,
      group_name,
      info,
      city
        from nm_group
        where     
            group_no like #{keywordPattern}
            or group_name like #{keywordPattern}
            or info  like #{keywordPattern}
            or city  like #{keywordPattern}
    </select>
</mapper>