<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.GroupDao">

  <resultMap type="Group" id="GroupMap">
    <id column="group_no"  property="groupNo"/>
    <result column="group_name" property="groupName"/>
    <result column="member_no" property="groupAdmin"/>
    <result column="group_info" property="groupInfo"/> 
    <result column="group_form" property="groupForm"/> 
    <result column="group_interest" property="groupInterest"/> 
    <result column="group_photo" property="groupPhoto"/>
    <result column="city" property="city"/>
    <result column="max_people_no" property="maxPeopleNo"/>
    <result column="create_date" property="createDate"/>
    
    
  </resultMap>
  
  <insert id="insert" parameterType="Group">
    insert into nm_group(
    group_name,
    member_no,
    group_info,
    group_form,
    group_interest,
    group_photo,
    city
    ) values(
      #{groupName},
      #{groupAdmin},
      #{groupInfo},
      #{groupForm},
      #{groupInterest},
      #{groupPhoto},
      #{city})
  </insert> 
  
  <!-- 그룹 가입신청하기 -->
  <insert id="insertGrMember" parameterType="com.nmnm.gms.domain.GroupMember">
    insert into nm_group_member(
    group_no,
    member_no,
    grade_no)
    values(
    #{groupNo},
    #{memberNo},
    #{gradeNo})
  </insert>
  
  <select id="findAll" resultMap="GroupMap">
    select
      group_no,
      group_name,
      group_form,
      city
    from 
      nm_group
  </select>
  
  <!-- 관리자 게시판 용 모든 그룹 회원 조회 -->
  <select id="grlist" resultMap="GroupMap"> 
    select
     gm.group_no,
     gm.member_no,
     gm.grade_no,
     g.group_no,
     g.group_name,
     m.member_no,
     m.member_name
    from nm_group_member gm, nm_group g, nm_member m
    where gm.group_no = g.group_no and gm.member_no = m.member_no
  </select>
    
  <select id="findByNo" resultMap="GroupMap" parameterType="int">
    select 
    group_photo,
    group_no,
    group_name,
    group_form,
    group_info,
    group_interest,
    city,
    create_date
    from 
      nm_group
    where 
      group_no=#{groupNo}
  </select>
  
  <update id="update" parameterType="Group">
    update nm_group
    <set>
      <if test="groupName != null and groupName != ''">group_name=#{groupName},</if>
      <if test="groupForm != null and groupForm != ''">group_form=#{groupForm},</if>
      <if test="groupInfo != null and groupInfo != ''">group_info=#{groupInfo},</if>
      <if test="groupPhoto != null and groupPhoto != ''">group_photo=#{groupPhoto},</if> 
      <if test="groupInterest != null and groupInterest != ''">group_interest=#{groupInterest},</if> 
      <if test="maxPeopleNo >= 0">max_people_no=#{maxPeopleNo},</if> 
      <if test="city != null and city != ''">city=#{city}</if>
    </set>
    where 
      group_no=#{groupNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from nm_group
    where group_no=#{groupNo}
  </delete>
  
  <select id="findByKeyword" resultMap="GroupMap"
    parameterType="string">
        <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
        select
      group_no,
      group_name,
      group_form,
      group_interest,
      
      city
        from nm_group
        where
            group_no like #{keywordPattern}
            or group_name like #{keywordPattern}
            or group_form like #{keywordPattern}
            or city  like #{keywordPattern}
    </select>
    
  <!-- 추천모임 리스트 -->
  <select id="listByRec" resultMap="GroupMap" parameterType="string">
		SELECT g.group_no, g.group_name, g.group_photo, g.group_interest
		 FROM nm_group g
		WHERE g.group_interest
		 IN 
		(SELECT m.interest FROM nm_member m)
  </select>
  
  <!-- 신규모임 리스트 -->
  <select id="listByCd" resultMap="GroupMap">
    select
      group_photo,
      group_no,
      group_name,
      group_form,
      city,
      group_interest
    from 
      nm_group
    order by
      create_date desc
  </select>
</mapper>