<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.MemberDao">
    <!-- 회원 -->
  <resultMap type="Member" id="MemberMap">
    <id column="member_no"  property="no"/>
    <result column="member_name"       property="name"/>
    <result column="id_photo"  property="photo"/>
    <result column="birthday"    property="birthday"/>
    <result column="gender"    property="gender"/>
    <result column="tel" property="tel"/>
    <result column="password" property="password"/> 
    <result column="intro" property="intro"/>
    <result column="interest" property="interest"/>
    <result column="nickname" property="nickname"/>
    <result column="account_status" property="accountStatus"/>
    <result column="withdraw" property="withdraw"/>
    <result column="sns" property="sns"/>
    <result column="create_date" property="createDate"/>
  </resultMap>
  
  <resultMap type="Message" id="MessageMap">
    <id column="message_no" property="messageNo"/>
    <result column="sender" property="sender"/>
    <result column="receiver" property="receiver"/>
    <result column="title" property="title"/>
    <result column="content" property="content"/>
    <result column="create_date" property="createDate"/>
    <result column="read_date" property="readDate"/>
  </resultMap>
  
  <insert id="insert" parameterType="Member">
    insert into nm_member(
      member_name,
      password, 
      id_photo, 
      birthday, 
      gender, 
      email,
      tel,
      intro,
      interest,
      nickname,
      sns
    ) values(
      #{name},
      password(#{password}),
      #{photo},
      #{birthday},
      #{gender},
      #{email},
      #{tel},
      #{intro},
      #{interest},
      #{nickname},
      #{sns})
  </insert>
  
  <select id="findAll" resultMap="MemberMap">
    select
      member_no,
      member_name,
      nickname,
      gender,
      email,
      tel
    from 
      nm_member
  </select>

  
  <select id="findByNo" resultMap="MemberMap" parameterType="int">
    select 
      member_no,
      member_name,
      nickname,
      birthday,
      gender,
      email,
      id_photo,
      tel,
      intro,
      sns,
      create_date
    from 
      nm_member
    where 
      member_no=#{no}
  </select>
  
  <update id="update" parameterType="Member">
    update nm_member
    <set>
      <if test="name != null and name != ''">member_name=#{name},</if>
      <if test="nickname != null and nickname != ''">nickname=#{nickname},</if>
      <if test="email != null and email != ''">email=#{email},</if> 
      <if test="password != null and password != ''">password=password(#{password}),</if>
      <if test="tel != null and tel != ''">tel=#{tel},</if>
      <if test="photo != null and photo != ''">id_photo=#{photo}</if>
    </set>
    where 
      member_no=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from nm_member
    where member_no=#{no}
  </delete>
  
  <select id="findByKeyword" resultMap="MemberMap"
    parameterType="string">
        <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
        select
        member_no,
            member_name,
            nickname,
            gender,
            tel
        from nm_member
        where     
            member_name like #{keywordPattern}
            or nickname like #{keywordPattern}
            or gender  like #{keywordPattern}
            or tel  like #{keywordPattern}
    </select>
  
  <select id="findByEmailAndPassword" 
    resultMap="MemberMap" 
    parameterType="map">
    select 
      email,
      member_name, 
      password
    from nm_member
    where 
      email=#{email} 
      and password=password(#{password})
  </select>
  <insert id="send" parameterType="Message">
    insert into nm_message(
    sender,
    receiver,
    title,
    content
    ) values (
    #{sender},
    #{receiver},
    #{title},
    #{content}
    )
  </insert>
  <select id="sender" resultMap="MemberMap" parameterType="int">
    select 
        member_no,
        member_name
     from nm_member
     where member_no=#{no}
  </select>
</mapper>