<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.MemberDao">
    <!-- 회원 -->
  <resultMap type="Member" id="MemberMap">
    <id column="member_no"  property="no"/>
    <result column="member_name"       property="name"/>
    <result column="id_photo"  property="photo"/>
    <result column="birthday"    property="birthday"/>
    <result column="email" property="email"/> 
    <result column="password" property="password"/> 
    <result column="intro" property="intro"/>
    <result column="interest" property="interest"/>
    <result column="nickname" property="nickname"/>
    <result column="account_status" property="accountStatus"/>
    <result column="withdraw" property="withdraw"/>
    <result column="sns" property="sns"/>
    <result column="create_date" property="createDate"/>
    <result column="alterkey" property="alterkey"/>
  <association property="group" javaType="Group">
    <result column="group_name" property="groupName"/>
  </association>
  </resultMap>
  
  <insert id="insert" parameterType="Member">
    insert into nm_member(
      member_name,
      password, 
      id_photo, 
      birthday, 
      email,
      intro,
      interest,
      nickname,
      sns
    ) values(
      #{name},
      password(#{password}),
      #{photo},
      #{birthday},
      #{email},
      #{intro},
      #{interest},
      #{nickname},
      #{sns})
  </insert>
  
  <select id="findAll" resultMap="MemberMap">
    select
      member_no,
      member_name,
      nickname,
      email
    from 
      nm_member
  </select>

  
  <select id="findByNo" resultMap="MemberMap" parameterType="int">
    select 
      member_no,
      member_name,
      nickname,
      birthday,
      email,
      id_photo,
      intro,
      sns,
      create_date
    from 
      nm_member
    where 
      member_no=#{no}
  </select>
  
  <update id="update" parameterType="Member">
    update nm_member
    <set>
      <if test="name != null and name != ''">member_name=#{name},</if>
      <if test="nickname != null and nickname != ''">nickname=#{nickname},</if>
      <if test="email != null and email != ''">email=#{email},</if> 
      <if test="password != null and password != ''">password=password(#{password}),</if>
      <if test="photo != null and photo != ''">id_photo=#{photo}</if>
    </set>
    where 
      member_no=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from nm_member
    where member_no=#{no}
  </delete>
  
  <select id="findByKeyword" resultMap="MemberMap"
    parameterType="string">
        <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
        select
        member_no,
            member_name,
            nickname
        from nm_member
        where     
            member_name like #{keywordPattern}
            or nickname like #{keywordPattern}
    </select>
  
 <select id="findByEmailAndPassword" 
    resultMap="MemberMap" 
    parameterType="map">
    select *
    from nm_member
    where 
      email=#{email} 
      and password=password(#{password})
  </select>
  
  
    <!-- 회원 인증키(난수) Y로 변경 -->
    <update id="alterUserKey" parameterType="Map">
        update nm_member set alterkey = 'Y' where email = #{email} and alterkey = #{key}
    </update>
      
     
    <update id="alterKey" parameterType="map">
        update nm_member set alterkey = #{alterkey} where email = #{email}
    </update> 
      
      
    <!-- 회원 가입 -->
    <insert id="join" parameterType="Member">
        insert into nm_member  (email, password, member_name, nickname, id_photo, birthday, interest, intro, sns)
        values(#{email}, password(#{password}), #{name}, #{nickname}, #{photo}, #{birthday}, #{interest}, #{intro}, #{sns})
    </insert>    
    
 
 <select id="checkid" parameterType="String" resultType="Integer">
      SELECT COUNT(*) FROM nm_member
      WHERE
          email = #{email}
</select>
    
<select id="checknick" parameterType="String" resultType="Integer">
      SELECT COUNT(*) FROM nm_member
      WHERE
          nickname = #{nickname}
</select>

<!-- 그룹 가입 신청하기 -->
  <insert id="insertGrMember" parameterType="com.nmnm.gms.domain.GroupMember">
    insert into nm_group_member(
    group_no,
    member_no,
    grade_no)
    values(
    #{groupNo},
    #{memberNo},
    #{gradeNo})
  </insert>
  
  <!-- 가입신청 승인 -->
   
<!-- 회원이 속해 있는 그룹 회원번호로 조회 -->
  <select id="findgrmember" parameterType="int" resultMap="MemberMap"> 
    select m.*, g.group_name
     from nm_member m
     join nm_group_member gm on
     gm.member_no = m.member_no
     join nm_group g on
    g.group_no = gm.group_no   
    where gm.member_no = #{memberNo} and register = 1
  </select>
<!-- <select id="findByEmailAndPassword" resultMap="MemberMap" parameterType="map">
        SELECT member_no, member_name, email
        FROM pf_members
        WHERE (email=#{email}) AND password=password(#{password})
        WHERE (email=#{email}) AND password=password(#{password}) AND alterkey='Y'
    </select>
       -->
</mapper>