<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nmnm.gms.dao.PlanDao">

<resultMap type="Plan" id="PlanMap">
    <id column="plan_no"  property="planNo"/>
    <result column="group_no" property="groupNo"/>
    <result column="member_no" property="memberNo"/>
    <result column="start_date" property="startDate"/>
    <result column="end_date" property="endDate"/>
    <result column="start_hour" property="startHour"/>
    <result column="end_hour" property="endHour"/>
    <result column="title" property="title"/>
    <result column="thumbnail" property="thumbnail"/>
    <result column="content" property="content"/>
    <result column="address" property="address"/> 
    <result column="latitude" property="latitude"/>
    <result column="longitude" property="longitude"/>
    <result column="create_date" property="createDate"/>
<!--     <association property="planMember" javaType="PlanMember">
         <result column="plan_no" property="planNo"/>
         <result column="group_no" property="groupNo"/>
         <result column="member_no" property="memberNo"/>
         <result column="attend" property="attend"/>
    </association> -->
</resultMap>

<insert id="insert" parameterType="Plan">
  insert into nm_plan(
    group_no,
    member_no,
    start_date, 
    end_date, 
    title, 
    thumbnail,
    content,
    address, 
    latitude,
    longitude
    ) values(  
      #{groupNo},
      #{memberNo},
      #{startDate},
      #{endDate},
      #{title},
      #{thumbnail},
      #{content},
      #{address},
      #{latitude},
      #{longitude})
</insert>

<!-- 보류 -->
<!-- <insert id="applyPlan" parameterType="com.nmnm.gms.domain.PlanMember">
    insert into nm_plan_member(
    plan_no,
    group_no,
    member_no,
    attend
    ) values (
    #{planNo},
    #{groupNo},
    #{memberNo},
    #{attend}
    )
</insert> -->

   <select id="findAll" resultMap="PlanMap">
    select
     plan_no,
     title,
     create_date
    from
     nm_plan
      where group_no=#{groupNo}
      order by plan_no desc
   </select>
   
    <select id="findByNo" resultMap="PlanMap" parameterType="int">
    select 
      plan_no,
      DATE_FORMAT(start_date,'%Y-%m-%d %H:%i') start_date,
      DATE_FORMAT(end_date,'%Y-%m-%d %H:%i') end_date,
      title,
      content,
      thumbnail,
      DATE_FORMAT(start_date, '%H:%i') start_hour,
      DATE_FORMAT(end_date, '%H:%i') end_hour,
      address,
      latitude,
      longitude,
      create_date
    from 
      nm_plan
    where 
      plan_no=#{planBoardNo}
  </select>
  
      <select id="findByCalendar" resultMap="PlanMap">
    select 
      plan_no,
      DATE_FORMAT(start_date,'%Y-%m-%d %H:%i') start_date,
      DATE_FORMAT(end_date,'%Y-%m-%d %H:%i') end_date,
      title,
      content,
      thumbnail,
      DATE_FORMAT(start_date, '%H:%i') start_hour,
      DATE_FORMAT(end_date, '%H:%i') end_hour,
      address,
      latitude,
      longitude,
      create_date
    from 
      nm_plan
     where group_no=#{groupNo}
      order by plan_no desc
  </select>
   
   
   <update id="update" parameterType="Plan">
    update nm_plan 
    <set>
      <if test="startDate != null">start_date=#{startDate},</if>
      <if test="endDate != null">end_date=#{endDate},</if>
      <if test="title != null and title != ''">title=#{title},</if> 
       <if test="thumbnail != null and thumbnail != ''">thumbnail=#{thumbnail},</if> 
      <if test="address != null and address != ''">address=#{address},</if>
      <if test="startHour != null and startHour != ''">start_hour=#{startHour},</if>
      <if test="endHour != null and endHour != ''">end_hour=#{endHour},</if>
      <if test= "content != null and content != ''">content=#{content},</if>
      <if test="latitude != null and latitude != ''">latitude=#{latitude},</if>
      <if test="longitude != null and longitude != ''">longitude=#{longitude}</if>
    </set>
    where 
      plan_no=#{planBoardNo}
  </update>
  
   <select id="findByKeyword" resultMap="PlanMap"
    parameterType="string">
        <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
        select
        plan_no,
           title,
           create_date
        from nm_plan
        where     
          plan_no like #{keywordPattern}
          or title like #{keywordPattern}
    </select>
  
    <delete id="delete" parameterType="int">
    delete 
    from nm_plan
    where 
    plan_no=#{planBoardNo}
  </delete>

</mapper>